<head>
    <title>VerySocial</title>
</head>

<%- include ('../templates/header') %> 

<body>
    <div class = "box instructions">
        <h1 style="font-weight: 500;">Instructies</h1>
        <p class = "my-3">Nadat u klaar bent, vragen wij u om een korte vragenlijst in te vullen over wat u heeft gelezen. U kunt dan ook uw e-mailadres invullen om de cadeaubon van €5 te ontvangen.</p>
        <p>Wij vragen u om zich aan de volgende regels te houden:</p>
        <li class = "mx-4 listText" style="list-style-type: square;">Blijf minimaal 30 seconden op elke pagina om de meningen goed te lezen.</li>
        <li class = "mx-4 listText" style="list-style-type: square;">Sluit de website niet af terwijl u bezig bent, tenzij u wilt stoppen.</li>

        <a href = "/auth/login/?qualtricsId=<%=qualtricsId%>"><button class="btn nav" style = "float: right;">Volgende pagina</button></a>
</div>
