<head>
    <title>VerySocial</title>
</head>

<%- include ('../templates/header') %> 

<body>
    <div class = "box instructions">
        <h1 style = "font-weight: 500">Einde forum</h1>
        <p>Op de volgende pagina vragen wij u om een korte vragenlijst in te vullen over wat u heeft gelezen. U kunt daar ook uw e-mailadres invullen voor de cadeaubon van €5.</p>
        <a href = "https://survey.uu.nl/jfe/form/SV_eYaDy37SOU8nDOC/?qualtricsId=<%=currentUser.qualtricsId%>"><button class="btn nav" style = "float: right;">Volgende pagina</button></a>
    </div>
</body>
        

