<head>
    <title>VerySocial</title>
</head>

<%- include ('../templates/header') %> 

<body>
    <div class = "box instructions">
        <h1 style="font-weight: 500;">Instructies</h1>
        <p class = "my-3">Welkom op het forum <strong>VerySocial <i class="far fa-paper-plane"></i></strong>. Hier leest u de meningen van anderen over een aantal onderwerpen. Wij willen u vragen om deze meningen te lezen en erop te reageren als u dat wilt. Dit kunt u op de volgende manieren doen: </p>
        <li class = "mx-4 listText" style="list-style-type: square;">Met een reactie onderaan de pagina.</li>
        <li class = "mx-4 listText" style="list-style-type: square;">Met de '<strong><i class="far fa-thumbs-up"></i> Vind ik leuk</strong>' knop bij reacties waar u het mee eens bent.</li> 
        <li class = "mx-4 listText" style="list-style-type: square;">Met de '<strong><i class="far fa-thumbs-down"></i> Vind ik niet leuk</strong>' knop bij reacties waar u het niet mee eens bent.</li> 
        <li class = "mx-4 listText" style="list-style-type: square;">Met de '<strong><i class="far fa-comment"></i> Reageer</strong>' knop bij reacties waar u op wilt reageren.</li> 

        <a href = "/auth/instruction-2/?qualtricsId=<%=qualtricsId%>"><button class="btn nav" style = "float: right;">Volgende pagina</button></a>
</div>
